
abstract=Consent is one of the legal basis for processing personal data under the General Data Protection Regulation (GDPR), which is the current Eurpoean data protection law enforced from 25th May 2018. GDPR stipulates obligations on how consent should be obtained, used, modified, and recorded. Additionally, it provides data subjects with the right to modify or withdraw their consent at any time. Demonstrating compliance to these rights and obligations requires maintaining information about the consent lifecycle. Existing work has demonstrated the feasibility of using semantic web technologies to represent and query this information. GConsent is an OWL2-QL ontology for representing consent for GDPR compliance. The ontology is based on an analysis of modelling metadata requirements related to the consent lifecycle for GDPR compliance. It allows modelling and representation of information related to compliance in an extensible and comprehensive manner.
ontologyTitle=GConsent - a consent ontology based on the GDPR
ontologyPrefix=gconsent
ontologyNamespaceURI=https://w3id.org/GConsent#
ontologyName=GConsent - a consent ontology based on the GDPR
thisVersionURI=https://w3id.org/GConsent/v/0.5#
latestVersionURI=https://w3id.org/GConsent#
previousVersionURI=
dateOfRelease=2018-09-07
ontologyRevisionNumber=0.5
licenseURI=https://creativecommons.org/licenses/by/4.0/
licenseName=CC-by-4.0
licenseIconURL=https://licensebuttons.net/l/by/4.0/88x31.png
citeAs=
DOI=
status=Ontology Specification Draft
backwardsCompatibleWith=
publisher=ADAPT Centre
publisherURI=https://adaptcentre.ie/
publisherInstitution=Trinity College Dublin
publisherInstitutionURI=https://tcd.ie/
authors=Harshvardhan J. Pandit
authorsURI=https://harshp.com/i/me#HJP
authorsInstitution=Trinity College Dublin
authorsInstitutionURI=https://tcd.ie/
contributors=Pat McBennett
contributorsURI=
contributorsInstitution=
contributorsInstitutionURI=
importedOntologyNames=
importedOntologyURIs=
extendedOntologyNames=
extendedOntologyURIs=
RDFXMLSerialization=ontology.xml
TurtleSerialization=ontology.ttl
N3Serialization=ontology.nt
JSONLDSerialization=ontology.json
